VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=database-for-sintaxis.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=database-for-sintaxis
VITE_FIREBASE_STORAGE_BUCKET=database-for-sintaxis.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=12975986733
VITE_FIREBASE_APP_ID=1:12975986733:web:4d4cf1f7c1961d7f6a80a4
VITE_FIREBASE_MEASUREMENT_ID=G-YQK6Z8R3FC
VITE_FUNCTIONS_BASE_URL=http://127.0.0.1:5001/database-for-sintaxis/us-central1
